<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="release_validator_suite" verbose="2">
  <test name="release_validator_test">
    <classes>
      <class name="org.testng.sample.JarContentsTest"/>
      <class name="org.testng.sample.JavadocsTest"/>
      <class name="org.testng.sample.MetaInfReadTest"/>
      <class name="org.testng.sample.MavenDependencyTest"/>
    </classes>
  </test>
</suite>
